<h1>Hi <%= @user.name %>,</h1>

<p>Welcome to the Sample App! Click on the link below to activate your account:</p>

<p><%= edit_account_activation_url(@user.activation_token, email: @user.email) %></p>